#body-contact {
    background-color: map-get($color, "black");
}

#main-contact {
    min-height: 100vh;
    // ENCABEZADO
    #section-heading {
        @include heading;
    }
    // COMENTARIO BREVE / TITULO
    #section-title {
        @include title;
    }
    // FORMULARIO
    #form-contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .form {
            width: 100%;
            height: 250px;
            max-width: 400px;
            position: relative;
            overflow: hidden;
            // LABEL NOMBRE
            .form__name {
                @include formulario (200px);
            }
            // EMAIL
            .form__email {
                @include formulario (100px);
            }
            // MESSAGE
            .form__message {
                @include formulario (0px);
            }
        }
    }
}
    // FOOTER CONTACTO
    #footer-contact {
        #section-items {
            .item {
                a {
                    text-decoration: none;
                }
                a i {
                    color: map-get($color, "white" );
                    font-size: 2em;
                    background-color: map-get($color, "background-cards");
                    padding: 20px;
                    border-radius: 4em;

                    transition: all 300ms ease;
                }
                a i:focus, a i:hover {
                    color: map-get($color, "primary");
                    transform: scale(1.1) + translateY(-30%);
                }
            }
        }
    }
