/* MIXIN MEDIA QUERY */
@mixin mv ($medida : 480px) {
    @media screen and (max-width: $medida) {
        @content;
    }
}

// MIXIN DE LOS H3 DE CADA SECCION
@mixin heading () {
    .heading {
        color: map-get($color, "white");
        font-weight: bold;
    }
    .heading::after {
        content: "";
        display: block;
        width: 150px;
        height: 5px;
        background: map-get($color, "primary" );
        margin: 10px auto 40px;
    }
}

// MIXIN DE LOS TITULOS DE CADA SECCION
@mixin title () {
    .title {
        color: map-get($color, "secondary-text");
        font-size: 18px;
        font-weight: bold;
    }
}

@mixin formulario ($bottom : 0%) {
    width: 400px;
    overflow: hidden;
    // INPUT
    input {
        width: 100%;
        height: 50px;
        background: none;
        color: #fff;
        padding-top: 20px;
        border: none;
        outline: 0px;
        position: absolute;
        bottom: $bottom;
        left: 0;
    }
    // TEXT
    .lbl {
        position: absolute;
        bottom: $bottom;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid #c7c7c7;
    }
    // LINEA CELESTE
    .lbl::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid map-get($color, "primary");
        transform: translateX(-100%);
        transition: all 0.3s ease;
    }
    // SPAN DEL TEXTO
    .text {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
        color: #fff;
    }
    // FOCUS ANIMATION
    input:focus + .lbl .text, input:valid + .lbl .text {
        transform: translateY(-130%);
        font-size: 14px;
        color: map-get($color, "primary" );
    }
    // FOCUS ANIMATION
    input:focus + .lbl::after, input:valid + .lbl::after  {
        transform: translateX(0%);
    }
}